﻿@model IEnumerable<VerticalAITWidget.Models.Widget>

@{
    ViewBag.Title = "Index";
}

<h2>Widgets</h2>

@if (!Model.Any())
{
<p>No Widgets To Display</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Widget</th>
            <th>Creation Date</th>
            <th>Widget Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var widget in Model)
        {
        <tr>
            <td>@Html.ActionLink(widget.Name, "Edit", "Widget", new { id = widget.Id }, null)</td>
            <td>@widget.CreatedDate</td>
            <td>@widget.WidgetType.Name</td>
        </tr>
        }
    </tbody>
</table>
}