﻿@model VerticalAITWidget.ViewModels.WidgetsTypeAndSubTypeViewModel
@{
    ViewBag.Title = "WidgetForm";
}

<h2>New Widget</h2>

@using(Html.BeginForm("Save", "Widgets"))
{

    <div class="form-group">
        @Html.LabelFor(w => w.Name)
        @Html.TextBoxFor(w => w.Name, new {@class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(w => w.WidgetTypeId)
        @Html.DropDownListFor(w => w.WidgetTypeId, new SelectList(Model.WidgetTypes, "Id", "Name"), new {@class="form-control"})
    </div>

    @Html.HiddenFor(w => w.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}

